body {background-color: #050401;}

h2 {
	color:white; 
	text-align: center;
  font-family: 'Roboto', sans-serif;

}

p {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;

}

img {
  border-radius: 4px;
  align-items: center;
}

hr {
  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color:#666;
  border: 0 none;
  margin-top: 100px;
  margin-bottom:100px;
}

.pic1 {
  filter: blur(5px);
 	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.pic2 {
  filter: blur(5px);
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.pic3 {
  filter: blur(5px);
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.pic4 {
  filter: blur(5px);
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 5%
}

img.pic1:hover {
    animation: Blur 2s ;
}

img.pic2:hover {
    animation: Blur 2s ;
}

img.pic3:hover {
    animation: Blur 2s ;
}

img.pic4:hover {
    animation: Blur 2s ;
}

@keyframes Blur {
    from {
        filter: blur(5px);
    }
    
    to {
        filter: blur(0px);
    }
}

.container {
  position: relative;
  width: 50%;
  height: 20%;
}

.image {
  display: block;
  width: 200%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200%;
  opacity: 0;
  transition: .5s ease;
  background-color: #30BCED;
}

.container:hover .overlay {
  opacity: 1;
}

.link {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



